name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: build
      run: |
        make clean
        make

  run:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: run
      run: |
        (echo; sleep 5; printf 'q'; printf 'q') | make run
